
H1-Projects/.vs/H1-Projects/v16/Server/sqlite3/db.lock
CleanCode/.vs/CleanCodeExersises/v16/Server/sqlite3/db.lock
GPOpgaver/.vs/GPOpgaver/v16/Server/sqlite3/db.lock
Programming/Reaction time game/Reaction_time_game_new/.vs/Reaction_time_game_new/v16/Server/sqlite3/db.lock
H1-Projects/Highscore/Highscore/.vs/Highscore/v16/Server/sqlite3/db.lock
Programming/Objekter_know_how/.vs/Objekter_know_how/v16/Server/sqlite3/db.lock
