body{
    margin: 0%;
    background-color: black;

}

.links{
    float: right;
    margin-top: 0.5%;
    margin-left: 65%;
    padding: 10px 4px;
    position: fixed;
    background-color: black;
    line-height: 35px;
}

.links a{
    padding: 5px 10px;
}

a:link{

    color: white;
    border: solid 1px white;  
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: underline;
}

.intro{
    background-image: url("Images/Circuit2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

.intro img {
    position: absolute;
    margin-left: 95px;
    margin-top: 95px;
    border-radius: 500px;
    height: 250px;
}

.intro h1{
    text-align: center;
    margin: 0%;
    padding-right: 110px;
    font-style: oblique;
    padding-top: 15%;
}


.itext a{
    text-decoration: none;
    font-size: 130%;
    padding-bottom: 50px;
}

.itext{
    text-align: center;
    margin-top: 30px;
    margin-right: 150px;
    font-size: 110%;
}


.brødtext h2{
    margin-left: 40px;
}

.brødtext{
    font-size: 110%;

}
.brødtext p{

    float: left;
}

.image{
    background-image: url("Images/Circuit3.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

.kvalifikationer h2{
    margin-left: 40px;
    padding-top: 20px;
    word-spacing: 100px;

}

.projekter a{
    color: blue;
    border: none;
}

.footerInfo h2{
    margin-left: 40px;
}

.footerInfo{
    text-align: center;
}

.footerInfo a{
    color: blue;
    border: none;
}

.image .kvalifikationer{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    width: 45%;
}

.image .uddannelsesmæssig{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    width: 45%;
}

.image .erhvervserfaring{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    width: 45%;
}

.image .projekter {
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    width: 45%;
}

.image .footerInfo {
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
} 

/* Large devices (laptops/desktops, 768px and up) */
 @media only screen and (max-width: 768px) {
    
    .links{
    
        text-align: center;
        line-height: 35px;
    }
    
    .intro img {
        margin-left: 60px;
        margin-top: 35px;
        height: 200px;

    }
    
    .intro h1{
        margin: 0%;
        padding-top: 65%;
    }
    
    
    .itext a{
        text-decoration: none;
        font-size: 130%;
        padding-bottom: 50px;
    }
    
    .itext{
        text-align: center;
        margin-right: 150px;
    }
    
    .brødtext{
        text-align: center;
        margin-right: 150px;
    
    }

    .image .kvalifikationer{
        width: 52%;
    }
    
    .image .uddannelsesmæssig{
        width: 52%;
    }
    
    .image .erhvervserfaring{
        width: 52%;
    }
    
    .image .projekter {
        width: 52%;
    }
    
    .image .footerInfo {
        padding: 20px;
    } 

  /* Extra small devices (phones, 375px and down) */
 @media only screen and (max-width: 375px) {
  
    .links{

        line-height: 35px;

    }
    
    .intro img {
        margin-left: 60px;
        margin-top: 20px;
        height: 200px;
        
    }
    
    .intro h1{
        padding-top: 65%;

    }   
    
    .brødtext h2{
        text-align: center;
        padding-left: 15px;

    }
    
    .brødtext{
        text-align: center;
        padding-right: 150px;
    
    }
    
    .image .kvalifikationer{
        width: 63%;

    }
    
    .image .uddannelsesmæssig{
        width: 63%;

    }
    
    .image .erhvervserfaring{ 
        width: 63%;

    }
    
    .image .projekter {
        width: 63%;

    }
    
    .image .footerInfo {
        padding: 4%;
        
    }
    }
}