@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #121212;
    }

    .nav a {
        color: white;
    }

    .nav li a:hover {
        background-color: black;
    }

    .title p {
        color: white;
    }
}